<div class='container mb-4 mt-4'>
  <div class='row'>
    <div class='col'>
      <div class='content-type-wrapper'>
        <h2>Minified Stylesheets</h2>
        <textarea rows="200" cols="100">
          <%= @code %>
        </textarea>
      </div>
    </div>
  </div>
</div>
