<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Assets", "/", class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Minify Javascripts", "/minify_javascripts", class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Minify Stylesheets", "/minify_stylesheets", class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
